@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');

$font: "Playwrite DE SAS", cursive;
$background-color: lightpink;


body {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $font;
}

.content {
  border: 2px solid white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding-left: 40px;
    margin-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    input {
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
    }

    button {
      border: none;
      outline: none;
      background: white;
      padding: 15px 40px;
      border-radius: 40px;
    }
  }

  ul {
    li {
      list-style: none;
      padding: 12px 150px 12px 12px;
      user-select: none;
      cursor: pointer;
      position: relative;
    }

    li::before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border: 1px solid black;
      border-radius: 50%;
      top: 15px;
      left: -25px;
    }

    li {
      &.checked {
        color: #555;
        text-decoration: line-through;
      }

      &.checked::before {
        background-image: url(/assets/checked.png);
        background-size: cover;
        background-position: center;
      }

      span {
        position: absolute;
        right: 0;
        top: 5px;
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: black;
        line-height: 40px;
        text-align: center;
      }

      span:hover {
        width: 35px;
        height: 35px;
      }
    }
  }
}